<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

</head>
<body>

<form>
    <h1>Users</h1>
    <table border="1">
    <thead>
     <tr>
        <th>Name</th>
        <th>lname</th>
    </tr>
    </thead>
    <tbody>
    {% for user in persons %}
        <tr>
            <td>{{ user.fname }}</td>
            <td>{{ user.lname }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>
</form>

<form action="" method="post">
    First name:<br>
    <input type="text" name="firstname" >
    <br>
    Last name:<br>
    <input type="text" name="lastname" >
    <br><br>
    <input type="submit" value="Submit">
</form>
<form>
    <br><br>
<input type="submit" value="update">
</form>



</body>
